<div class='row'>
    <div class='col-2 offset-5' style='margin-top:50px; margin-bottom:20px;'>
        <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'" alt="" class="img-fluid rounded-circle">
    </div>
</div>
<div class='row'>
    <div class='col-6 offset-3'>
        <div style='text-align:center;'>
            <h4 style='margin-bottom:20px;'>Welcome {{prenom}} {{nom}}</h4>
            <h6 style='margin-bottom:20px;'>Manage your information and the confidentiality of your data to make the most of the services of WeatherApp </h6>
        </div>
        <div class="card" style="width: auto; text-align:center;">
            <h4>Personal information of your account</h4>
            <p class="card-text">you can change each of your settings to update your profile</p>
            <div class="card-body">
                <h3 class="card-title">Profile</h3>
                <div class='list-group'>
                    <button class='btn btn-light list-group-item text-left' data-toggle="modal" data-target='#modalPhoto'>
                        <div class="row">
                            <div class="col-11 centrage-vertical">
                                <div>Picture : &ensp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; customize your account by adding a photo</div>
                            </div>
                            <div class="col-1">
                                <img src="./images/photo2.png" class='img-fluid rounded-circle pull-right'>
                            </div>
                        </div>
                    </button>
                    <button class='btn btn-light list-group-item text-left' data-toggle="modal" data-target='#modalNom'>Name : &ensp;&ensp;&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{nom}} &emsp;<i class="fa fa-chevron-right pull-right"></i></button>
                    <button class='btn btn-light list-group-item text-left' data-toggle="modal" data-target='#modalPrenom'>firstname : &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; {{prenom}} &emsp;<i class="fa fa-chevron-right pull-right"></i></button>
                    <button class='btn btn-light list-group-item text-left' data-toggle="modal" data-target='#modalDateNaissance'>Birthday : &ensp;&emsp;&emsp;&emsp;{{dateNaissance}} &emsp;<i class="fa fa-chevron-right pull-right"></i></button>
                    <button class='btn btn-light list-group-item text-left' data-toggle="modal" data-target='#modalSexe'>Gender : &ensp;&ensp;&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; {{sexe}} &emsp;<i class="fa fa-chevron-right pull-right"></i></button>

                </div>
                
            </div>
        </div>
    </div>
</div>

<!-- Debut Modal photo-->
<div class="modal fade" id="modalPhoto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit photo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form (ngSumit)="onSumitNom(f)" #f="ngForm">
                <div class="form-group">
                  <input type="file" class="form-control" id="image" name="image" (change)= "onSelectFile($event)" ngModel>
                  <input type="submit" value="image">
                </div>
            </form>
        </div>
      </div>
    </div>
</div>
<!--Fin Modal photo-->


<!-- Debut Modal Nom-->
<div class="modal fade" id="modalNom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Name</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form (ngSumit)="onSumitNom(f)" #f="ngForm">
                <div class="form-group">
                  <label for="username">New name</label>
                  <input type="text" class="form-control" id="nom" name="nom" ngModel>
                  <input type="submit" value="name">
                </div>
            </form>
        </div>
      </div>
    </div>
</div>
<!--Fin Modal Nom-->

<!-- Debut Modal Date de Naissance-->
<div class="modal fade" id="modalDateNaissance" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change the Date of Birth</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form (ngSumit)= "onSumitDate(f)" #f="ngForm">
              <div class="form-group">
                <label for="username">choose the date</label>
                <input type="text" name="date" class="form-control" id="date" placeholder="choisir la date de naissance" ngModel>
                <input type="submit" value="date">
              </div>
          </form>
      </div>
    </div>
  </div>
</div>
<!--Fin Modal Date de Naissance-->

<!-- Debut Modal sexe-->
<div class="modal fade" id="modalSexe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Change gender</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form (ngSumit)="onSumitSexe()" #f="ngForm">
          <div>
            <input type="radio" name="sexe" value="masculin" id="masculin" required ngModel>
            <label for="oui" class="inline">male</label>
            <input type="radio" name="sexe" value="feminin" id="feminin" required ngModel />
            <label for="non" class="inline">female</label>
          </div>
        </form>
    </div>
  </div>
</div>
</div>
<!--Fin Modal sexe-->