<body>
  
  <div class="monForm">
    <h2>Login</h2>
    <img src="/assets/img/user.svg" alt="" class="avatar">

    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <p>Utilisateur</p>
        <input type="text" name="username" placeholder="nom d'utilisateur" ngModel>
        <p>Mot de passe</p>
        <input type="password" placeholder="votre mot de passe" name="password" ngModel>
      <input type="submit" value="Signin" >
      <input type="button" value="Signup">
      </form>
</div>
</body>
  