<nav class="navbar">
    <a class="navbar-brand" href="#">
      <i class="fa fa-sun-o" aria-hidden="true"></i>
      <strong>Weather</strong>App
    </a>
    <div class="dropdown">
        <a class="btn btn-default dropdown-toggle" type="a" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="caret">         
                    Profile</span>
        </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li>
        <div class="map-section mt-5">
            <p>Profile Infor</p>
          </div>
    </li>
    
  </ul>
</div>
  </nav>
