<div class="hero">
		<!-- navbar -->
		<!-- weather section  -->
		<div class="container">
			<div class="row">
				<div id="" class="col-8 mx-auto weather">
					<!-- weather header section -->
					<div class="weather-head">
						<h1 id="location" class="text-center display-4">{{name}} {{coountry}}</h1>
						<div class="row">							
							<div id="description" class="description col-4 text-center">
								<i id="icon-desc" class="wi wi-owm-{{icon}}"></i>
								<p class="desc">{{desc}}</p>			
							</div>
							<div id="temperature" class="col-8 text-center">
								{{temp}} &deg;C
								<!-- <i id="icon-thermometer" class="wi wi-thermometer"></i> -->
								<p class="">{{temp_max}}&deg;/{{temp_min}}&deg; Feels  Like {{feels_like}}&deg;</p>	
							</div>	
						</div>
						<!-- weather body header -->
						<div class="weather-body">					
							<div class="row">
								<div class="humidity col-4 text-center">
									<i class="wi wi-raindrop"></i><span> Humidity</span>
								</div>
								<div class="wind col-4 text-center">
									<i class="wi wi-strong-wind"></i><span> Wind Speed</span>
								</div>
								<div class="visibility col-4 text-center">
									<i class="fa fa-eye"></i><span> Visibility</span>
								</div>				
							</div>
							<!-- weather body data -->
							<div class="row">
								<div id="humidity" class="humidity-data col-4 text-center">
									{{humidity}}%
								</div>
								<div id="wind" class="wind-data col-4 text-center">
									{{windSpeed}}mph
								</div>
								<div id="visibility" class="degree-data col-4 text-center">
										{{vis ? "clear" : visibility }}{{vis ? "" : " Miles" }} 
								</div>
							</div>
						</div>						
					</div>					
				</div>				
			</div>
		</div>	
		<div class="container1">
				<div class="row">
				<div id="" class="col-8 mx-auto weather">
						<div>
								<app-day></app-day>
						</div>
				</div>
			</div>	
	</div>
</div>
	