  <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let item of list">
              <div class="row weather">
                <div class="col-12">
                    <div class="item">
                        <p class="text-center">{{time(item)}} </p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="item">
                        <p class="text-center"><i id="icon-desc" class="wi wi-owm-{{icon(item)}}"></i></p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="item">
                        <p class="text-center">{{temp(item)}} &deg;C</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="item">
                        <p class="text-center"><i class="wi wi-raindrop"></i> {{item.main.humidity}} %</p>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>