
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
   <nav class="navbar navbar-light bg-light">   
      <button (click)="showmap = !showmap" class="btn btn-info">
        <span class="caret">
            <i class="fa fa-search" aria-hidden="true"></i>{{showmap ? 'Weather' : 'Search'}}
        </span>
      </button>
      <div class="dropdown">
              <a class="btn btn-default dropdown-toggle" type="a" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <span class="caret">
                          <i class="fa fa-search" aria-hidden="true"></i>         
                          Profile</span>
              </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li>
              <div class="map-section mt-5">
                  <p>Profile Infor</p>
                </div>
          </li>
          
        </ul>
      </div>
</nav>
    <div>
        <div *ngIf="showmap; else elseBlock">
            <div class="content mb-5">
                <app-map></app-map> 
            </div>
        </div>
        <ng-template #elseBlock>
            <div class="content mb-5">
                <app-weather></app-weather>
            </div>
        </ng-template>
        
        
    </div>
  
</body>
</html>


