<body>

    <div class="monForm">
      <small>upload picture</small> <br>
      <label class="hoverable" for="fileInput">
        <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"> 
      </label>
      <br/>
      <input id="fileInput" type='file' (change)="onSelectFile($event)">
      
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="eltform">
          <p>Name</p>
          <input type="text" name="name" placeholder="your name and Firstname" required ngModel >
          <p>Username</p>
          <input type="text" name="username" placeholder="your username" required ngModel >
          <p>Birthday</p>
          <input type="date"  placeholder="your birthday" name="date" required  ngModel>
          <p>Gender</p>
          <input type="radio" name="sexe" value="masculin" id="masculin" required ngModel>
     <label for="oui" class="inline">male</label>
     <input type="radio" name="sexe" value="feminin" id="feminin" required ngModel />
     <label for="non" class="inline">female</label>
          <p>Password</p>
          <input type="password" placeholder="your password" name="password" required  ngModel>
        <input type="submit" value="Signup" >
      </div>
        </form>
  </div>
  </body>
    