<body>

    <div class="monForm">
      <small>upload picture</small> <br>
      <label class="hoverable" for="fileInput">
        <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"> 
      </label>
      <br/>
      <input id="fileInput" type='file' (change)="onSelectFile($event)">
      
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="eltform">
          <p>Nom et Prenom</p>
          <input type="text" name="name" placeholder="Entrez votre nom et prenom" required ngModel >
          <p>Nom d'utilisateur</p>
          <input type="text" name="username" placeholder="nom d'utilisateur" required ngModel >
          <p>Date de Naissance</p>
          <input type="date"  placeholder="votre date de Naissance" name="date" required  ngModel>
          <p>Sexe</p>
          <input type="radio" name="sexe" value="masculin" id="masculin" required ngModel>
     <label for="oui" class="inline">masculin</label>
     <input type="radio" name="sexe" value="feminin" id="feminin" required ngModel />
     <label for="non" class="inline">feminin</label>
          <p>Mot de passe</p>
          <input type="password" placeholder="votre mot de passe" name="password" required  ngModel>
        <input type="submit" value="Signup" >
      </div>
        </form>
  </div>
  </body>
    