<body>

    <div class="monForm">
      <h2>Sign up</h2>
      
      <label class="hoverable" for="fileInput">
        <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"> 
      </label>
      <br/>
      <input id="fileInput" type='file' (change)="onSelectFile($event)">
      
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <p>Name</p>
          <input type="text" name="name" placeholder="enter your name" required ngModel >
          <p>Username</p>
          <input type="text" name="username" placeholder="enter your username" required ngModel >
          <p>Password</p>
          <input type="password" placeholder="enter your password" name="password" required  ngModel>
          <p>Confirm password</p>
          <input type="password" placeholder="confirm your password" name="confirm" required  ngModel>

        <input type="submit" value="Signup" >
      
        </form>
  </div>
  </body>
    